.venv/

.DS_Store

homework/answers
homework/data

midterm_project/articles
midterm_project/python/catboost_info
midterm_project/data/untouched/
midterm_project/app/__pycache__
midterm_project/app/.venv

homework/08-deep-learning/*.zip
homework/08-deep-learning/data
homework/08-deep-learning/*_v2.ipynb

homework/09-serverless/data
homework/09-serverless/hair_classifier_v1.onnx
homework/09-serverless/hair_classifier_v1.onnx.data
homework/09-serverless/aws-lambda-rie

